#sidebar-default .menu-section h3 {
    color: #1e741a;
    margin-top: 15px;
}

.navbar {
    margin-bottom: 0;
}

#dashboard .menubar .second-menu {
    float: right;
    min-width: 350px;
    position: relative;
    top: -3px;
}

h1.page-title {
    margin-top: 0;
    margin-bottom: 10px;
}

#signin .logo {
    margin-top: 0;
}

.menu-section .submenu a {

}

#sidebar-default .menu-section ul li a {
    border-bottom: 1px #252733 solid;
}

#sidebar-default .menu-section h3 {
    color: #B9B9B9 !important;
    font-size: 16px !important;
    padding: 15px 10px 5px 5px;
    background-color: rgb(47, 47, 47);
}

.menu-section a {
    cursor: pointer;
}

#sidebar-default .menu-section ul li > .submenu li a.active {
    background: #2F353E !important;
    box-shadow: none;
    color: cornsilk;
}

/* Чекбоксы */
input.modern-checkbox[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label {
    cursor: pointer;
}

input[type=checkbox] {
    width: 100%;
    height: 20px;
}

.dash-chart canvas {
    width: 100% !important;
    height: 200px !important;
}
.login-form-container {
    width: 300px;
    padding: 10px;
    border: 1px #ccc solid;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 0 1px 7px;
    background: #a7caff;
    color: #333333;
    border: 0 solid rgba(0, 0, 0, 0);
}

.selectize-control.multi .selectize-input .remove {
    color: #930002;
}

.skin-switcher {
    position: fixed;
    right: -15px;
    top: 60px;
    z-index: 999999;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, right 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, right 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, right 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
}

.skin-switcher:hover, .skin-switcher:focus {
    right: 0px;
}

#content .menubar .page-title {
    font-size: 25px;
    font-family: Georgia,serif;
    /*color: #ffdbbd;*/

    letter-spacing: 0;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
}

#content .menubar {
    /*background-color: #0a0a0a;*/
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    position: absolute;
    left: 173px;
    top: -10px;
    overflow: visible;
    z-index: 1000;
}

.navbar-brand img{
    height: 80px;
    opacity: 0.8;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.panel-default {
    border-color: #9a9a9a;
}

.panel-default>.panel-heading {
    color: #c3c3c3;
    background-color: #2f353e;
    border-color: #9a9a9a;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    margin-left: 300px;
}